@import '../../../styles/mixins';
@import '../../../styles/variables';

.button {
  @include reset-button;

  width: 100%;
  background-color: $primary-color;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
  font-size: 1rem;

  &:focus,
  &:hover {
    background-color: $primary-color-darken;
  }
}
