@import-normalize;

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* stylelint-disable */
.ReactCollapse--collapse {
  transition: height 0.5s;
}
